<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cardExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7C89CEA1CE09BE800802C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C89D031CE09BE900802C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C89D0E1CE09BE900802C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
